body{
    background-image: url(home1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

canvas, img {
    display:block; 
    margin:1em auto; 
    border:1px solid black; 
}
canvas { 
    background-image: url(canvas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.toolbtn{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width:50px;
    height:50px;
}